@import '~antd/es/style/themes/default.less';

@primary-color: #021EB2;
@secondary-color: #FFFFFF;

@primary-color-light-10: #354BC1;
@primary-color-light-20: #6778D1;

@info-color: #007AFF;
@info-color-light: #E5F1FF;
@success-color: #34C759;
@success-color-light: #EAF9EE;
@alert-color: #FFCC00;
@alert-color-light: #FFF9E5;
@warning-color: #FF9500;
@warning-color-light: #FFF4E5;
@error-color: #FF3B30;
@error-color-light: #FFEBEA;

@color-neutral-1: #000414;
@color-neutral-2: #4B4E6E;
@color-neutral-3: #A0A3BD;
@color-neutral-4: #D2D4E1;
@color-neutral-5: #EFF0F6;

@surface-primary: #ffffff;
@disabled-color: #b1b7cc;

@inner-shadows:inset 0px -1px 0px #F00000;
@shadow-sm:0px 0px 1px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
@shadow-default:0px 0px 1px rgba(12, 26, 75, 0.1), 0px 4px 20px -2px rgba(50, 50, 71, 0.08);
@shadow-lg:0px 0px 1px rgba(12, 26, 75, 0.1), 0px 10px 16px rgba(20, 37, 63, 0.06);
@shadow-xl:0px 0px 1px rgba(12, 26, 75, 0.1), 0px 20px 24px rgba(20, 37, 63, 0.06);
@shadow-2xl:0px 0px 1px rgba(12, 26, 75, 0.1), 0px 30px 40px rgba(20, 37, 63, 0.08);

@bg-overlay:rgba (0, 0, 0, 0.4);

:root {
  --primary-color: @primary-color;
  --secondary-color: @secondary-color;

  --primary-color-light-10: @primary-color-light-10;
  --primary-color-light-20: @primary-color-light-20;

  --info-color: @info-color;
  --info-color-light: @info-color-light;
  --success-color: @success-color;
  --success-color-light: @success-color-light;
  --alert-color: @alert-color;
  --alert-color-light: @alert-color-light;
  --warning-color: @warning-color;
  --warning-color-light: @warning-color-light;
  --error-color: @error-color;
  --error-color-light: @error-color-light;

  --color-neutral-1: @color-neutral-1;
  --color-neutral-2: @color-neutral-2;
  --color-neutral-3: @color-neutral-3;
  --color-neutral-4: @color-neutral-4;
  --color-neutral-5: @color-neutral-5;
  
  --surface-primary: @surface-primary;
  --disabled-color: @disabled-color;

  --inner-shadows: @inner-shadows;
  --shadow-sm: @shadow-sm;
  --shadow-default: @shadow-default;
  --shadow-lg: @shadow-lg;
  --shadow-xl: @shadow-xl;
  --shadow-2xl: @shadow-2xl;
}

* {
  font-family: 'Inter', sans-serif;
}

.anticon {
  svg {
    vertical-align: unset;
  }
}

.ant-layout {
  background: #FFF !important;
}